body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color:rgb(248, 204, 204);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.options {
    margin-top: 20px;
}

.option {
    width: 90%;
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #ddd;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}
span{
    background-color:rgb(251, 132, 132);
    color: white;
    margin-left: -10px ;
    padding: 10px;
}